<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시판</title>
  </head>
  <body>
    <h1>글작성</h1>
    <form action="/create" method="POST" enctype="multipart/form-data">
      <label>작성자</label>
      <input type="text" name="name" /><br />
      <label>글제목</label>
      <input type="text" name="title" /><br />
      <label>글내용</label>
      <textarea name="content" style="width: 50%; height: 200px"> </textarea>
      <br />
      <label>사진선택</label>
      <input type="file" name="file" /><br />
      <button type="submit">저장</button>
      <button type="reset">초기화</button>
    </form>
    <button type="button" onclick='window.location.href = "/list";'>
    글목록
    </button>
  </body>
</html>
