<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시판</title>
  </head>
  <body>
    <h1 id="id_title">글제목이 들어감</h1>
    <img src="이미지 소스가 들어감" id="id_image" />
    <p><span>글아이디:</span> <span id="id_id">아이디가 들어감</span></p>
    <p><span>글쓴이:</span> <span id="id_name">작성자 들어감</span></p>
    <p>세부내용</p>
    <p id="id_content">여기가 세부내용이 들어감</p>
    <button type="button" onclick="moveUpdate()">수정</button>
    <button type="button" onclick="moveList()">목록</button>
    <form
      action="삭제할 주소와 아이디가 들어감"
      method="post"
      id="id_form"
      enctype="multipart/form-data"
    >
      <button type="submit">삭제</button>
    </form>
  </body>
  <script>
    let data={{selected|tojson}};
    data['content']=data['content'].replaceAll("\n","<br>"); //줄바꿈 문자를 html태그 줄바꿈으로 교체
     console.log('data',data)
     document.querySelector('#id_name').innerHTML=data['name'];
     document.querySelector('#id_id').innerHTML=data['id'];
     document.querySelector('#id_title').innerHTML=data['title'];
     document.querySelector('#id_content').innerHTML=data['content'];
     if (data['image']!==""){
      document.querySelector('#id_image').src="/static/images/"+data['image'];
     }
     else{
      document.querySelector('#id_image').src="/static/images/noimage.jpg";
    }

     function moveUpdate(){
         window.location.href=`/update/${data['id']}` //수정으로 이동 ,현재창의 주소를 바꿔줌
     }

     function moveList(){
         window.location.href="/list" // 목록으로 이동
     }
     document.querySelector('#id_form').action="/delete/"+data['id']; //삭제할 주소와 아이디가들어감
  </script>
</html>
